@model IEnumerable<DataAccessLayer.Entities.About>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            @foreach (var item in Model)
            {
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            
                <h6 class="text-secondary text-uppercase">Hakkımızda</h6>
              
                <h1 class="mb-4">@item.Header</h1>
                <p class="mb-4">@item.Description</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>@item.ServiceTitle1</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>@item.ServiceTitle2</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>@item.ServiceTitle3</p>
                <div class="bg-primary d-flex align-items-center p-4 mt-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt fa-2x text-primary"></i>
                    </div>
                    <div class="ms-3">
                        <p class="fs-5 fw-medium mb-2 text-white">@item.Urgent</p>
                        <h3 class="m-0 text-secondary">@item.Phone</h3>
                    </div>
                </div>
            </div>   
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/Img/@item.İmage1" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                        <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="~/Img/@item.İmage2" style="object-fit: cover;" alt="">
                </div>
            </div>
                }
        </div>
    </div>
</div>