@model IEnumerable<DataAccessLayer.Entities.Service>


 <!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
      @*  <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">15 Years Experience</h1>
            </div>
        </div>*@
        <div class="col-md-12 col-lg-9">
            <div class="ms-lg-5 ps-lg-5">
              
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Hizmetlerimiz</h6>
                    <h1 class="mb-5">Hizmet için buradayız</h1>
                </div>


             
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                    @foreach (var item in Model)
                    {
                    <div class="bg-light p-4">
                     
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                         
                            <i class="fa fa-@item.İcon fa-2x text-primary"></i>
                        </div>
                        <h4 class="mb-3">@item.Header</h4>
                        <p>@item.Description</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>@item.ServiceTitle1</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>@item.ServiceTitle2</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>@item.ServiceTitle3</p>
                        <a href="/Home/Index" class="btn bg-white text-primary w-100 mt-2">Devamını oku<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                          
                    </div>
                    }
                </div>
              
            </div>
        </div>
    </div>
</div>