@model IEnumerable<DataAccessLayer.Entities.Dtos.AdminDtos.TestimonialListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referanslar Liste Paneli</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Decsription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullNnme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Decsription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullNnme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.Image)" alt="" class="form control" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowOrder)
            </td>
            <td>
                    <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                    <hr>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
