@model DataAccessLayer.Entities.About

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımızda Silme Paneli</h1>

<h3>Silmek İstediğinize Emin Misiniz ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTitle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTitle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTitle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTitle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTitle3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTitle3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İmage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İmage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İmage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İmage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Mail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-dark" />
        <a  class="btn btn-danger" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
